<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Navigation | NGSV Console</title>

    <link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" href="/css/main.css" rel="stylesheet" />

    <link rel="shortcut icon" href="/img/favicon.ico" />

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">NGSV Console</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/upload">Upload</a></li>
              <li><a href="/download">Download</a></li>
              <li><a href="/manager">Manager</a></li>
              <li><a href="/viewer">Viewer</a></li>
              <li><a href="/help">Help</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="top-nav" class="container">
      <div class="row-fluid">
        <div class="span6">
          <a href="/upload"><img src="/img/navicon-upload.png" alt="Upload Page"></a>
          <h2><a href="/upload">Upload</a></h2>
          <p>Upload Sam/Bam and Bed files. A task server loads information to database and calculates histogram automatically.</p>
        </div>
        <div class="span6">
          <a href="/download"><img src="/img/navicon-download.png" alt="Download Page"></a>
          <h2><a href="/download">Download</a></h2>
          <p>You can download any files uploaded to the server.<br>
            Be careful that some files are very large size (&gt; 1GB).</p>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span6">
          <a href="/viewer"><img src="/img/navicon-viewer.png" alt="Viewer Page"></a>
          <h2><a href="/viewer">Viewer</a></h2>
          <p>Change settings of a viewer from a web browser.<br>
            Select sam/bam, bed, chromosome and region you want see.</p>
        </div>
        <div class="span6">
          <a href="/help"><img src="/img/navicon-help.png" alt="Help Page"></a>
          <h2><a href="/help">Help</a></h2>
          <p>May I help you?</p>
        </div>
      </div>
    </div>

    {% include 'footer.html' %}
  </body>
</html>
