{% extends "base.html" %}

{% block title %}NGSV Console{% endblock %}

{% block style %}
  {{ super() }}
  <link type="text/css" href="/css/chosen.css" rel="stylesheet" />
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="span4">
        <form class="form-search" method="post" action="/api/search">
          <div class="input-append">
            <input type="text" name="query" class="span3 search-query" placeholder="Search by filename or tag">
            <input type="hidden" name="filename" value="true">
            <input type="hidden" name="tag" value="true">
            <button type="submit" class="btn">Search</button>
          </div>
        </form>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span1"><strong>Type</strong></div>
      <div class="span4"><strong>Filename</strong></div>
      <div class="span4"><strong>Tags</strong></div>
      <div class="span2"><strong>Uploaded at</strong></div>
      <div class="span1"><strong>Download</strong></div>
    </div>

    {% for f in files %}
    <div class="row-fluid">
      <div class="span1">
        {{ f.type }}
      </div>
      <div class="span4">
        {{ f.filename }}
      </div>
      <div class="span4">
        <div class="row-fluid">
          <div class="span10 tags" id="{{ f.type }}-{{ f.id }}">
            <form method="post" action="/api/tag/update-by-file" style="margin-bottom: 0;">
              <input type="hidden" name="type" value="{{ f.type }}">
              <input type="hidden" name="id" value="{{ f.id }}">
              <select name="tags" data-placeholder="Select tag" class="chzn-select" multiple autocomplete="off" style="width: 100%;" tabindex="4">
                {% for t in tags %}
                <option value="{{ t.tag_id }}">{{ t.name }}</option>
                {% endfor %}
              </select>
            </form>
          </div>
          <div class="span2">
            <button class="btn btn-mini" onclick="$('#{{ f.type }}-{{ f.id }} > form').submit()">Update</button>
          </div>
        </div>
      </div>
      <div class="span2">
        {{ f.created_date }}
      </div>
      <div class="span1">
        <a href="{{ f.url }}">{{ f.size }}</a>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}

{% block script %}
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/chosen.jquery.js"></script>

  <script type="text/javascript">
    var tagInfos = {};
    (function() {
        var tags;
        {% for f in files -%}
        tags = [];
        {% for t in f.tags %}
        tags.push('{{ t.tag_id }}');
        {% endfor %}
        tagInfos['{{ f.type }}-{{ f.id }}'] = tags;
        {%- endfor %}
    })();
  </script>

  <script type="text/javascript" src="/js/console-main.js"></script>
{% endblock %}
