{% extends "base.html" %}
{% set active_page = "manager" %}

{% block title %}Manager | NGSV Console{% endblock %}

{% block style %}
  {{ super() }}
  <link type="text/css" href="/css/chosen.css" rel="stylesheet" />
{% endblock %}

{% block content %}
  <div id="main" class="container">
    <div class="row">
      <div class="span12" style="margin-bottom: 10px;">
        <button id="new-tag-btn" class="btn">Create New Tag</button>
      </div>
    </div>

    <div class="row">
      <div class="span12" id="new-tag">
      </div>
    </div>

    <div class="row">
      <div class="span12" id="registered-tags">
        {% for tag in tags %}
          <div class="row old-tag" data-tag-id="{{ tag.tag.tag_id }}">
            <div class="span12 tag-block">
              <h3>{{ tag.tag.name }}</h3>

              <form method="post" action="/api/tag/update" class="form-horizontal" id="update-{{ tag.tag.tag_id }}">
                <input type="hidden" name="tag-id" value="{{ tag.tag.tag_id }}">
                  {% if sams %}
                    <div class="control-group">
                      <label class="control-label">Sam/Bam</label>
                      <div class="controls">
                        <select name="sam" data-placeholder="Select Sam" class="chzn-select" multiple autocomplete="off" style="width: 450px;" tabindex="4">
                          {% for sam in sams %}
                            <option value="{{ sam.file_name }}">{{ sam.file_name }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  {% endif %}

                  {% if beds %}
                    <div class="control-group">
                      <label class="control-label">Bed</label>
                      <div class="controls">
                        <select name="bed" data-placeholder="Select Bed" class="chzn-select" multiple autocomplete="off" style="width: 450px;" tabindex="4">
                          {% for bed in beds %}
                            <option value="{{ bed.file_name }}">{{ bed.file_name }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  {% endif %}
              </form>

              <form method="post" action="/api/tag/remove" id="remove-{{ tag.tag.tag_id }}">
                <input type="hidden" name="tag-id" value="{{ tag.tag.tag_id }}">
              </form>

              <div class="form-actions" style="padding-left: 180px">
                <button class="btn btn-primary" onclick="$('#update-{{ tag.tag.tag_id }}').submit()">
                  Update
                </button>
                <button class="btn btn-danger" onclick="removeTag('{{ tag.tag.name }}', $('#remove-{{ tag.tag.tag_id }}'))" style="float: right;">
                  Remove
                </button>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- jQuery templates -->
  <script id="new-tag-tmpl" type="text/x-jquery-tmpl">
    <div class="row">
      <div class="span12 tag-block">
        <button type="button" class="close">&times;</button>
        <h3>New Tag</h3>
        <form method="post" action="/api/tag/new" class="form-horizontal">
          <div class="control-group">
            <label class="control-label" for="inputEmail">Tag</label>
            <div class="controls">
              <input class="input-medium" type="text" name="tag-name" placeholder="Tag name" autocomplete="off">
            </div>
          </div>

          {% if sams %}
            <div class="control-group">
              <label class="control-label" for="inputEmail">Sam/Bam</label>
              <div class="controls">
                <select name="sam" data-placeholder="Select Sam" class="chzn-select" multiple autocomplete="off" style="width: 450px;" tabindex="4">
                  <option value=""></option>
                  {% for sam in sams %}
                    <option value="{{ sam.file_name }}">{{ sam.file_name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          {% endif %}

          {% if beds %}
            <div class="control-group">
              <label class="control-label" for="inputEmail">Bed</label>
              <div class="controls">
                <select name="bed" data-placeholder="Select Bed" class="chzn-select" multiple autocomplete="off" style="width: 450px;" tabindex="4">
                  <option value=""></option>
                  {% for bed in beds %}
                    <option value="{{ bed.file_name }}">{{ bed.file_name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          {% endif %}

          <div class="form-actions" style="padding-left: 180px">
            <button type="submit" class="btn btn-primary">
              Create
            </button>
          </div>
        </form>
      </div>
    </div>
  </script>
{% endblock %}

{% block script %}
  <script type="text/javascript" src="/js/jquery.min.js"></script>
  <script type="text/javascript" src="/js/jquery.tmpl.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/chosen.jquery.js"></script>

  <script type="text/javascript">
    var tags = {};
    (function() {
    {% for tag in tags %}
      var tag = {};

      tag.samFileNames = [];
      {% for sam in tag.sams %}
        tag.samFileNames.push('{{ sam.file_name }}');
      {% endfor %}

      tag.bedFileNames = [];
      {% for bed in tag.beds %}
        tag.bedFileNames.push('{{ bed.file_name }}');
      {% endfor %}
      tags['{{ tag.tag.tag_id }}'] = tag;
    {% endfor %}
    })();

    function removeTag(tag, button) {
        if (confirm('Are you sure you want to remove tag "' + tag + '"?'))
        button.submit();
    }
  </script>

  <script type="text/javascript" src="/js/console-manager.js"></script>
{% endblock %}
